<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compile</title>
</head>

<body>
    <img src=<%=img%> alt=""> <br>
    <%=id%> <br>
    Статус: <%=status%> <br>
    <button type="button" onclick="location.href = '/'">На главную страницу</button>
</body>

</html>