body {
    background-color: #dadada;
}

#inputFile {
    width: 25%;
    margin: 0%;
    padding: 10% 10%;
    border: 5px solid #000000;
    background-color: #b1a2e9;
}

#divStatus {
    width: 20%;
    margin-top: 1%;
    padding: 10% 5%;
    border: 5px solid #000000;
    background-color: #a2e9b7;
    text-align: center;
}
